@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .intro h2 {
    margin: 0px;
    text-align: start;
    font-size: 100px;
    padding: 20px;
  }
  .intro img {
    max-height: 0;
  }
  .intro .exp-desc {
    padding: 26px;
    margin-bottom: 0px;
  }
  .top .exp {
    margin: 10px;
  }
  .top {
    margin-bottom: 10px;
  }
  .formacao-box {
    grid-template-columns: 1fr;
  }
  .formacao-coluna {
    font-size: 100px;
    max-width: 12ch;
  }
  .formacao-box {
    gap: 60px;
    padding: 60px 35px;
  }
  .formacao-box::after {
    height: 0;
  }
  .footer-box {
    grid-template-columns: 1fr;
  }
  .span {
    text-align: center;
    padding: 40px;
    background-color: black;
  }
}
@media (max-width: 500px) {
  .intro h2 {
    font-size: 64px;
  }
  .formacao-coluna {
    font-size: 64px;
  }
  .exp-desc {
    margin: 0;
  }
  .apresent{
    background-image: none;
    position: relative;
  }
  .apresent::before{
    content: "";
    height: 12px;
    width: 84px;
    background-image: linear-gradient(to right,rgb(182, 248, 41) 60%, rgb(103, 221, 10));
    position: absolute;
    top: 6px;
  }
}
